/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small custom styles */
html,body,#root { height: 100%; }

.btn {
  @apply inline-flex items-center justify-center px-3 py-1.5 rounded-md text-sm font-medium shadow-sm;
}
.btn-primary { @apply bg-brand-500 text-white hover:bg-brand-600; }
.btn-ghost { @apply bg-white border border-gray-200 text-gray-700 hover:bg-gray-50; }

.input {
  @apply w-full px-3 py-2 border border-gray-200 rounded-md bg-white;
}
